<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>v-for的基本使用</title>
  </head>

  <body>
    <div id="app"></div>
    <template id="my-app">
      <div>
        <!-- 遍历数组 -->
        <ul>
          <h2>电影列表</h2>
          <li v-for="(movie, index) in movies" :key="index">{{index+1}}-{{movie}}</li>
        </ul>
      </div>
      <div>
        <!-- 遍历对象 -->
        <ul>
          <h2>个人信息</h2>
          <li v-for="(value, key, index) in info" :key="key">{{key}}-{{value}}</li>
        </ul>
      </div>
      <!-- 遍历数字 -->
        <ul>
          <h2>数字遍历</h2>
          <li v-for="(item, index) in 10" :key="index">{{item}}-{{index}}</li>
        </ul>
      </div>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      Vue.createApp({
        template: "#my-app",
        data: function () {
          return {
            message: "hello Hanjue",
            counter: 100,
            movies: ["星际穿越", "大话西游", "大主宰"],
            info: {
              name: "韩绝",
              age: 20,
              gender: "male",
            },
          };
        },

        // 定义各种方法
        methods: {},
      }).mount("#app");
    </script>
  </body>
</html>
